<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
    </div>
    <div class="card">
        <div class="card-body">
    <form [formGroup]="productForm" (ngSubmit)="addStudent(productForm.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">First name</label>
              <input type="email" class="form-control" formControlName="first_name" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Last name</label>
              <input type="text" class="form-control" formControlName="last_name" placeholder="Last name">
            </div>
          </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">

          <label for="exampleInputPassword1">Address</label>
          <input type="text" class="form-control" formControlName="address"  placeholder="address">
        </div>
       
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add student</button>

      </form>


    <!-- <mat-card class="example-card">
      <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
         <mat-form-field class="example-full-width"> 
          <input matInput placeholder="Product Name" formControlName="prod_name"
                 [errorStateMatcher]="matcher">
            <span *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product Name</span>
         </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Desc" formControlName="prod_desc"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product Description</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Price" formControlName="prod_price"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter Product Price</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div> 
      </form>
      </mat-card> -->
  </div>
  </div>
  </div>