<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-md-8">
            <h3>Actions</h3>
            <div class="list-group" *ngFor="let item of data">
                <a class="list-group-item clearfix" (click)="open()">
                    {{item.first_name}} {{item.last_name}}
                    <span class="pull-right">
                        <span class="btn btn-xs btn-default" onclick="alert('Action1 -> Edit'); event.stopPropagation();">
                            <span class="glyphicon glyphicon-edit" style="color:green" aria-hidden="true">Edit</span>

                        </span>
                        <span class="btn btn-xs btn-default" onclick="alert('Action1 -> Remove'); event.stopPropagation();">
                            <span class="glyphicon glyphicon-remove red" style="color:red" aria-hidden="true">Delete</span>
                        </span>
                    </span>
                    
                </a>
            </div>
        </div>

       </div></div></div>
       <ng-template>

     
        <div class="modal-header" >
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Date of birth</label>
           
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
        
    </ng-template>